<h3>Account Information</h3>
<form [formGroup]="profileForm" (ngSubmit)="onSubmitProfile()">
    <div class="mb-3">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" formControlName="first_name" name="first_name">
    </div>
    <div class="mb-3">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" name="last_name">
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" name="email">
    </div>

    <button type="submit" class="btn btn-outline-secondary">Save</button>

</form>

<hr />

<h3>Change Password</h3>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
    <div class="mb-3">
        <label for="password">New password</label>
        <input type="password" class="form-control" formControlName="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="password_confirm">Confirm New password</label>
        <input type="password" class="form-control" formControlName="password_confirm" name="password_confirm" required>
    </div>

    <button type="submit" class="btn btn-outline-secondary">Save</button>
</form>